


.nav-items {
    list-style: none;
    display: flex;

    
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 5px 10px rgb(63, 63, 63);
}

.nav-items > li {
    padding: 10px;
}

.pic{

    width: 50px;

}
.foot{
    background-color: grey;
    width: fit-content;
    align-items: center;
    
}
